# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.env

# macOS
.DS_Store

# YOLO models
*.pt
*.onnx

# Data folders (too large for git)
dataset/
training_dataset/
dataset_3_by_vedic